:root {
    --primary-color: #0091CE;
    --background-color: #fff;
    --text-color: #000;
    --error-color: red;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 10;
    overflow: hidden;
}

p {
    color: #282828;
    font-size: 16px;
}

h1 {
    background-color: #006690;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 10px;
}

.tintedBlackLeft {
    background-color: #00000033;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    padding: 11px 11px 11px 0px;
}

button {
    padding: 5px 9px;
    border-radius: 3px;
    font-size: 18px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #fff;
    margin: 5px;
}

body {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-section {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-bottom: 20px;
    border-top: 1px solid #ccc; /* Added border-top */
}

@media (max-width: 768px) {
    .top-section {
        flex-direction: column;
    }
}

#tree-view {
    width: 50%;
    border-left: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    #tree-view {
        width: 100%;
        border-left: none;
        border-top: 1px solid #ccc;
    }
}

#editor {
    width: 50%;
    padding: 10px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    #editor {
        width: 100%;
    }
}

#preview {
    height: calc(100vh - 200px); /* Adjusted height to take full space */
    border-top: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    overflow-x: auto; /* Allow horizontal scrolling */
}

#json-preview-container {
    height: calc(100% - 40px);
    overflow-y: auto;
    white-space: nowrap; /* Prevent line breaks */
}

#json-preview {
    max-height: 100%;
    display: inline-block; /* Allow horizontal scrolling */
}

.tree-node {
    margin-left: 20px;
    cursor: pointer;
    user-select: none;
}

.tree-node::before {
    content: '▶';
    display: inline-block;
    margin-right: 5px;
    transition: transform 0.3s;
}

.tree-node.expanded::before {
    transform: rotate(90deg);
}

.tree-node.no-children::before {
    content: '';
}

.tree-node-content {
    display: inline-block;
}

.tree-node-children {
    display: none;
    margin-left: 20px;
}

.tree-node.expanded > .tree-node-children {
    display: block;
}

.error {
    color: var(--error-color);
}

.json-key { color: #881391; }
.json-string { color: #0B7500; }
.json-number { color: #1A01CC; }
.json-boolean { color: #FF0000; }
.json-null { color: #808080; }
.json-mark { color: #000000; }

#schema-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#schema-form > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#schema-form label {
    width: 150px;
    text-align: right;
    margin-right: 10px;
}

#schema-form input[type="text"],
#schema-form select {
    width: 250px;
}

.pattern-wrapper {
    display: flex;
    align-items: center;
}

#schema-options {
    display: none;
}

#apply-feedback {
    display: none;
    color: green;
    font-size: 14px;
    margin-left: 10px;
}

#current-operation {
    margin-bottom: 10px;
    font-weight: bold;
}

#validation-feedback {
    display: inline-block;
    margin-left: 10px;
}

#copy-feedback {
    display: none;
    color: green;
    font-size: 14px;
    margin-left: 10px;
}

#button-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: flex-start;
}

#schema-form div {
    display: flex;
    align-items: center;
}

#schema-form div label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

#number-fields,
#exclusive-number-fields,
#string-fields,
#array-fields,
#object-fields {
    display: none;
    flex-direction: column;
}

#edit-preview-buttons {
    margin-bottom: 20px;
}

#edit-preview-buttons button {
    margin-right: 10px;
}
